@import "../variables";
@import "../layouts/article";

.info-box {
  margin: 0 -20px;
  padding: 10px 20px;

  background: rgba($colour--dark, 0.05);

  box-shadow: 0 0 10px rgba($colour--dark, 0.2);
}

.info-text {
  color: rgba($colour--dark, 0.9);
  font-weight: 300;
  font-style: italic;
  margin: 0.25em 0;

  > span {
    color: invert($colour--accent);
    font-family: $font--general;
    font-weight: 400;
    font-style: normal;
  }
}

body.dark {
  .info-box {
    background: rgba($colour--light, 0.05);
  }

  .info-text {
    color: rgba($colour--light, 0.9);
  }
}
