$lt--col-left: 750px;
$lt--col-right: 350px;
$lt--col-gutter: 60px;

$lt--base-padding: 30px;

$lt--max-width: $lt--col-left + $lt--col-gutter + $lt--col-right;

$lt--two-columns: $lt--max-width + (2 * $lt--base-padding);
$lt--one-column: $lt--col-left + (2 * $lt--base-padding);

:root {
  --lt--two-columns: #{$lt--two-columns};
  --lt--col-right: #{$lt--col-right};
}
