$ty--sans: 'Suisse Intl', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ty--serif: 'Literata', 'Georgia Pro', 'Georgia', 'Times', serif;
$ty--size: 24px;
$ty--line-height: 1.5;
$ty--block-margin: 36px;

:root {
  --ty--block-margin: #{$ty--block-margin};
}
