{{ define "styles" }}
<link rel="stylesheet" rel=preload href="{{ "/styles/list.css" | absURL }}">
{{ end }}

{{ define "contents" }}
<ol class="list-view">
    {{ range .Pages }}
    <li class="list-view-card
            {{ if .Params.thumbnail }}
               has-thumbnail
            {{ end }}">
        <div class="list-view-card-text">
            <h2 class="article-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        </div>
        {{ if .Params.thumbnail }}
        <div class="list-view-card-thumbnail" aria-hidden="true" style='background-image: url({{ ((.Resources.GetMatch .Params.thumbnail).Resize "1200x").Permalink }});'></div>
        {{ end }}
    </li>
    {{ end }}
</ol>
{{ end }}