{{ define "styles" }}
<link rel="stylesheet" href="{{ "/styles/list.css" | absURL }}" media="print" onload="this.media='all'">
<noscript>
    <link rel="stylesheet" href="{{ "/styles/list.css" | absURL }}">
</noscript>
{{ end }}

{{ define "main" }}
<main aria-role="main">
    <h1>{{ .Title }}</h1>
    <ol class="section-list">
        {{ range where .Pages ".Params.page" false }}
        <li>
            {{- partial "post-card.html" . -}}
        </li>
        {{ end }}
    </ol>
</main>
{{ end }}