{{ define "styles" }}
<link rel="stylesheet" rel=preload href="{{ "/styles/list.css" | absURL }}">
{{ end }}

{{ define "contents" }}
<ol class="list-view">
    {{ range .Pages }}
    <li>
        <div class="list-view-card
                 {{ if .Params.thumbnail }}
                    has-thumbnail
                 {{ end }}"
          {{ if .Params.accentBg }}
             data-accent-bg="{{ .Params.accentBg }}"
          {{ end }}
          {{ if .Params.accentFg }}
             data-accent-fg="{{ .Params.accentFg }}"
          {{ end }}>
            <div class="list-view-card-text">
                <h2 class="article-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                {{ partial "articleinfo.html" . }}
            </div>
            {{ if .Params.thumbnail }}
            <div class="list-view-card-thumbnail" aria-hidden="true" style='background-image: url({{ ((.Resources.GetMatch .Params.thumbnail).Resize "1200x").Permalink }});'></div>
            {{ end }}
        </div>
    </li>
    {{ end }}
</ol>
{{ end }}

{{ define "scripts" }}
<script src="{{ "/scripts/accent-list.js" | absURL }}"></script>
{{ end }}