{{ define "styles" }}
<link rel="stylesheet" rel=preload href="{{ "/styles/single.css" | absURL }}">
{{ end }}

{{ define "contents" }}
{{ partial "navigation.html" . }}
<article>
    <header>
        <h1>
            {{ if .Title }}
            {{ .Title }}
            {{ else }}
            <em>Untitled</em>
            {{ end }}
        </h1>
        {{ partial "articleinfo.html" . }}
    </header>
    <main>
        {{ .Content }}
    </main>
</article>
{{ end }}

{{ define "scripts" }}
<script src="{{ "/scripts/inline-footnotes.js" | absURL }}"></script>
{{ end }}