$articleinfo-margin: 5px;
$articleinfo-font-size: 18px;

.articleinfo {
  font-size: $articleinfo-font-size;
  margin: $articleinfo-margin 0 ($articleinfo-margin * 2) 0;
}

.articleinfo-tags {
  display: inline-block;
  list-style: none;
  margin: 0 0 0 1em;
  padding: 0;

  li a::before {
    content: '#';
  }
}
