.footer {
  margin-top: $spacing--body;

  > ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none;

    li {
      display: inline-block;
      
      &:last-child::after {
        content: '';
      }

      &::after {
        content: '・';
      }
    }
  }
}
