.navigation {
  display: inline-block;
  position: relative;

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;

    list-style: none;
    
    li {
      margin: 8px 0 0 $spacing--base;
      display: inline-block;

      &:first-child {
        margin: 0;
      }
    }
  }

  .logo {
    display: block;
    width: 80px;
    height: 80px;
    z-index: 500;

    &::after {
      display: none;
    }

    &:hover,
    &:focus {
      transform: none;
    }

    img {
      width: inherit;
      height: inherit;
    }

    @media only screen and (max-width: $breakpoint) {
      width: 70px;
      height: 70px;
    }
  }
}
