.navigation {
  display: inline-block;
  position: relative;

  .logo {
    display: block;
    width: 80px;
    height: 80px;

    &:hover,
    &:focus {
      z-index: initial;
    }

    &::after {
      display: none;
    }

    img {
      width: inherit;
      height: inherit;
    }

    @media only screen and (max-width: $breakpoint) {
      width: 70px;
      height: 70px;
    }
  }
}
