.navigation {
  display: flex;
  position: relative;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    list-style: none;
    
    li {
      display: inline-block;
      
      &:last-child::after {
        content: '';
      }

      &::after {
        content: '・';
      }
    }
  }

  .logo {
    display: block;
    width: 80px;
    height: 80px;
    z-index: 500;
    margin-right: 1em;

    &::after {
      display: none;
    }

    &:hover,
    &:focus {
      transform: none;
    }

    .st0 {
      fill: $colour--accent;
    }

    @media only screen and (max-width: $breakpoint) {
      width: 70px;
      height: 70px;
    }
  }
}
