.post-list {
  display: flex;
  position: relative;
  left: -$spacing--body;
  right: -$spacing--body;
  width: 100%;
  margin: 0 0 $spacing--body / 2 0;
  padding: $spacing--base $spacing--body $spacing--body / 2 $spacing--body;
  overflow-y: hidden;
  overflow-x: auto;

  list-style: none;

  > li {
    max-width: 100%;
  }

  @media only screen and (max-width: $breakpoint) {
    flex-wrap: wrap;
    left: 0;
    right: 0;
    padding: $spacing--base 0;
    overflow-y: visible;
    overflow-x: visible;
  }
}
