.post-card {
  display: block;
  position: relative;
  overflow-y: visible;
  margin: 0;
  z-index: 1;

  font-family: $font--general;
  text-decoration: none;

  > h1 {
    position: relative;
    display: inline-block;
    margin: 8px 0 0 -3px;
    z-index: 1;

    color: $colour--dark;
    font-size: 280%;
    font-weight: 400;
    hyphens: auto;
    line-height: 1;
    text-decoration: underline;

    transition: all 0.1s $easing--general;  
  }

  > p {
    color: $colour--dark;
    hyphens: auto;
    margin-top: 0.6em;

    transform: translateY(1em);
    opacity: 0.2;

    transition: $transition--general;

    &::after {
      content: " Continue\00a0→";

      font-family: $font--special;
      color: darken($colour--accent, 20%);

      opacity: 0;

      transition: $transition--general;
    }
  }

  &.has-thumbnail {
    &:hover,
    &:focus {
      transform: none;

      > img {
        transform: translateY(-2em);
        opacity: 1;
        filter: saturate(1);

        transition: transform 0.2s $easing--general;
      }
    }

    > h1 {
      text-shadow: 1px  1px 0px $colour--light,
                  -1px  1px 0px $colour--light,
                   1px -1px 0px $colour--light,
                  -1px -1px 0px $colour--light;
    }

    > img {
      display: block;
      width: 100%;
      z-index: -1;

      transform: translateY(-1em);
      opacity: 0.2;
      filter: saturate(0);

      transition: transform 0.2s $easing--general;
    }
  }

  @media only screen and (min-width: $breakpoint) {
    width: 450px;
    margin-right: $spacing--body;

    &:hover,
    &:focus {
      transform: none;
      
      > h1 {
        color: darken($colour--accent, 20%);
        text-decoration: none;

        transition: all 0.1s $easing--general;
      }

      > p {
        transform: translateY(0);
        opacity: 1;

        transition: $transition--general;

        &::after {
          opacity: 1;

          transition: $transition--general;
        }
      }
    }
  }

  @media only screen and (max-width: $breakpoint) {
    width: auto;
    margin-right: 0;
    margin-bottom: $spacing--base;

    &:hover,
    &:focus {
      transform: none;
    }

    > p {
      transform: translateY(0);
      opacity: 1;

      &::after {
        opacity: 1;
      }
    }

    &.has-thumbnail {
      > img {
        transform: translateY(-2em);
        opacity: 1;
        filter: saturate(1);

        transition: transform 0.2s $easing--general;
      }
    }
  }
}

body.dark .post-card {
  > h1,
  > p {
    color: $colour--light;
  }

  > p::after {
    color: darken($colour--accent, 5%);
  }

  &.has-thumbnail > h1 {
    text-shadow: 1px  1px 0px $colour--dark,
                -1px  1px 0px $colour--dark,
                 1px -1px 0px $colour--dark,
                -1px -1px 0px $colour--dark;
  }

  @media only screen and (min-width: $breakpoint) {
    &:hover,
    &:focus {
      > h1 {
        color: darken($colour--accent, 5%);
      }
    }
  }
}
