<article>
    <header class="article-header"
            {{ if .Params.accentBg }}data-accent-bg="{{ .Params.accentBg }}"{{ end }}
            {{ if .Params.accentFg }}data-accent-fg="{{ .Params.accentFg }}"{{ end }}>
        <h1 class="article-title">
            {{ if .Title }}
            {{ .Title }}
            {{ else }}
            <em>Untitled</em>
            {{ end }}
        </h1>
        {{ partial "articleinfo.html" . }}
    </header>
    <main class="article-main">
        {{ .Content }}
    </main>
</article>