<div class="post-card {{ if .Params.thumbnail }}has-thumbnail{{ end }}">
    {{ if .Params.thumbnail }}
    <img aria-hidden="true" src='{{ ((.Resources.GetMatch .Params.thumbnail).Resize "800x").Permalink }}'>
    {{ end }}
    
    <div class="post-card-text">
        <h3 class="post-card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        {{- partial "post-details.html" . -}}
        {{ if not .Params.thumbnail }}
        <p class="post-card-summary">{{ .Summary }} <a style="font-style: italic;" href="{{ .Permalink }}">Read more&nbsp;→</a></p>
        {{ end }}
    </div>
</div>
