@font-face {
  font-display: swap;
  font-family: 'Suisse Intl';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/SuisseIntl-Book-WebS.woff2') format('woff2'),
    url('/fonts/SuisseIntl-Book-WebS.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Suisse Intl';
  font-style: italic;
  font-weight: normal;
  src: url('/fonts/SuisseIntl-BookItalic-WebS.woff2') format('woff2'),
    url('/fonts/SuisseIntl-BookItalic-WebS.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Suisse Intl';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/SuisseIntl-Bold-WebS.woff2') format('woff2'),
    url('/fonts/SuisseIntl-Bold-WebS.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Suisse Intl';
  font-style: italic;
  font-weight: bold;
  src: url('/fonts/SuisseIntl-BoldItalic-WebS.woff2') format('woff2'),
    url('/fonts/SuisseIntl-BoldItalic-WebS.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Literata';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/literata-v17-latin-regular.woff2') format('woff2'),
    url('/fonts/literata-v17-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Literata';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('/fonts/literata-v17-latin-700.woff2') format('woff2'),
    url('/fonts/literata-v17-latin-700.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Literata';
  font-style: italic;
  font-weight: 400;
  src: local(''), url('/fonts/literata-v17-latin-italic.woff2') format('woff2'),
    url('/fonts/literata-v17-latin-italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Literata';
  font-style: italic;
  font-weight: 700;
  src: local(''),
    url('/fonts/literata-v17-latin-700italic.woff2') format('woff2'),
    url('/fonts/literata-v17-latin-700italic.woff') format('woff');
}
