{{ define "styles" }}
<link rel="stylesheet" href="{{ "/styles/list.css" | absURL }}">
{{ end }}

{{ define "main" }}
<main aria-role="main">
    <h1>Hi, I'm trnglina.</h1>
    <p>I'm a developer, designer, and I enjoy writing.</p>
    <hr>
    <section>
        {{- partial "post-list.html" . -}}
    </section>
    <hr>
    <p>I'm reading {{- partial "humanise-link-list.html" .Site.Data.reading.works -}}</p>
    <p>I'm watching {{- partial "humanise-link-list.html" .Site.Data.watching.works -}}</p>
    <p>I'm playing {{- partial "humanise-link-list.html" .Site.Data.playing.works -}}</p>
</main>
{{ end }}
