{{ define "styles" }}
<link rel="stylesheet" href="{{ "/styles/list.css" | absURL }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ "/styles/pages/index.css" | absURL }}" media="print" onload="this.media='all'">
<noscript>
    <link rel="stylesheet" href="{{ "/styles/list.css" | absURL }}">
    <link rel="stylesheet" href="{{ "/styles/pages/index.css" | absURL }}">
</noscript>
{{ end }}

{{ define "main" }}
<main aria-role="main">
    <h1>Hi, I’m trnglina.</h1>
    <p>I write software, make designs, and enjoy writing. This is my personal little corner of the internet. Find here my most recent posts:</p>
    {{- partial "post-list.html" .Site -}}
    {{ if .Site.Data.rwp.reading }}
    <p>I’m reading {{- partial "humanise-link-list.html" .Site.Data.rwp.reading -}}</p>
    {{ end }}
    {{ if .Site.Data.rwp.watching }}
    <p>I’m watching {{- partial "humanise-link-list.html" .Site.Data.rwp.watching -}}</p>
    {{ end }}
    {{ if .Site.Data.rwp.playing }}
    <p>I’m playing {{- partial "humanise-link-list.html" .Site.Data.rwp.playing -}}</p>
    {{ end }}
</main>
{{ end }}