.article {
  max-width: 800px;

  .article-title {
    margin-top: 0;

    font-size: 300%;
    font-weight: 600;
    line-height: 1;
  }

  .front-matter {
    margin-top: 2em;
  }

  figure {
    margin: 2em 0;
    max-width: inherit;

    img {
      width: 100%;
      height: auto;
    }

    figcaption {
      h4 {
        margin-top: 0;
        padding: 0;
        font-weight: normal;
        font-style: italic;
        opacity: 0.8;
        font-size: 80%;
      }
    }

    @media only screen and (max-width: $breakpoint) {
      margin: 2em (-$spacing--body-small);

      figcaption {
        margin-left: $spacing--body-small / 2;
        margin-right: $spacing--body-small / 2;
      }
    }
  }
}
