body {
  margin: 0;
  padding: $spacing--body;
  overflow-x: hidden;

  background: $colour--light;

  color: $colour--dark;

  @media only screen and (max-width: $breakpoint) {
    padding: $spacing--body / 2;
  }
}

body.dark {
  color: $colour--light;
  background: $colour--dark;
}
