@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/SuisseIntl-Light-WebXL.woff2") format("woff2"),
    url("/fonts/SuisseIntl-Light-WebXL.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/SuisseIntl-LightItalic-WebXL.woff2") format("woff2"),
    url("/fonts/SuisseIntl-LightItalic-WebXL.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/SuisseIntl-Regular-WebXL.woff2") format("woff2"),
    url("/fonts/SuisseIntl-Regular-WebXL.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/SuisseIntl-RegularItalic-WebXL.woff2") format("woff2"),
    url("/fonts/SuisseIntl-RegularItalic-WebXL.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/SuisseIntl-Medium-WebXL.woff2") format("woff2"),
    url("/fonts/SuisseIntl-Medium-WebXL.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/SuisseIntl-MediumItalic-WebXL.woff2") format("woff2"),
    url("/fonts/SuisseIntl-MediumItalic-WebXL.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/SuisseIntl-Bold-WebXL.woff2") format("woff2"),
    url("/fonts/SuisseIntl-Bold-WebXL.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/SuisseIntl-BoldItalic-WebXL.woff2") format("woff2"),
    url("/fonts/SuisseIntl-BoldItalic-WebXL.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-MediumItalic.woff2") format("woff2"),
    url("/fonts/Jost-MediumItalic.woff") format("woff");
  font-weight: 400;
}