$col-left-width: 750px;
$col-right-width: 350px;
$col-gutter-width: 60px;

$body-padding: 15px;
$body-large-padding: 30px;

$two-columns: $col-left-width + $col-gutter-width + $col-right-width +
  (2 * $body-large-padding);
$one-column: $col-left-width + (2 * $body-padding);

// 'Export' these variables so they're accessible from JavaScript.
:root {
  --two-columns: #{$two-columns};
  --col-right-width: #{$col-right-width};
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  padding: $body-padding;

  @media screen and (min-width: $two-columns) {
    max-width: $col-left-width + $col-right-width + $col-gutter-width;
    padding: $body-large-padding;
  }
}
