body {
  font-family: $font--general;
  font-size: $type--base-size;
  font-weight: normal;
  line-height: $type--base-line-height;

  @media only screen and (max-width: $breakpoint) {
    font-size: 0.8 * $type--base-size;
  }

  *::selection {
    background-color: darken($colour--accent, 20%);
    color: $colour--light;
  }
}

body.dark *::selection {
  background-color: darken($colour--accent, 5%);
}

a {
  display: inline-block;
  position: relative;

  font-family: $font--special;
  color: darken($colour--accent, 20%);

  transition: $transition--general;

  &::after {
    content: '';

    display: block;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    z-index: -1;
    opacity: 0;
    background-color: darken($colour--accent, 20%);

    transition: $transition--general;
  }

  &:hover,
  &:focus {
    z-index: 999;

    color: $colour--light;
    text-decoration: none;

    transition: $transition--general;

    &::after {
      left: -7px;
      right: -7px;
      top: -1px;
      bottom: -2px;
      opacity: 1;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);

      transition: $transition--general;
    }
  }
}

body.dark a {
  color: darken($colour--accent, 5%);

  &::after {
    background-color: darken($colour--accent, 5%);
  }

  &:hover {
    color: $colour--light;
  }
}

hr {
  border-bottom: 1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
figure,
ul,
ol {
  display: block;
  margin: 1em auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-size: 200%;
}
