body {
  font-family: $font--general;
  font-size: $type--base-size;
  font-weight: normal;
  line-height: $type--base-line-height;

  @media only screen and (max-width: $breakpoint) {
    font-size: 0.8 * $type--base-size;
  }

  *::selection {
    background-color: $colour--selection;
    color: $colour--light;
  }
}

a {
  position: relative;

  color: $colour--link;

  transition: padding 0.1s $easing--general, color 0.1s $easing--general;

  &::after {
    content: "";
    position: absolute;
    top: 110%;
    bottom: -1px;
    right: 0;
    left: 0;
    background: $colour--link;
    z-index: -1;

    transition: top 0.1s $easing--general;
  }

  &:hover,
  &:focus {
    padding: 0 5px;

    color: $colour--light;

    transition: padding 0.1s $easing--general, color 0.1s $easing--general;

    &::after {
      top: 0;

      transition: top 0.1s $easing--general;
    }
  }
}

hr {
  border-bottom: 1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
figure,
ul,
ol {
  display: block;
  margin: 1em auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-size: 200%;
}
