@import 'variables';

body {
  font-size: 16pt;
  line-height: 1.6;

  @media screen and (max-width: $single-breakpoint) {
    font-size: 14pt;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 210%;
}

h3 {
  font-size: 170%;
}

h4 {
  font-size: 150%;
}

h5 {
  font-size: 130%;
}

h6 {
  font-size: 120%;
}

p {
  hyphens: auto;
}

a {
  color: $accent-colour;

  &:focus {
    outline: 2px solid orange;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
code,
figure {
  margin: $block-padding 0;
}

.article-title {
  font-size: 7vw;
  font-weight: normal;
  line-height: 1.05;
  margin: 0 0 0.1em;

  @media screen and (min-width: 2000px) {
    font-size: 120pt;
  }

  @media screen and (max-width: $double-breakpoint) {
    font-size: 42pt;
  }

  @media screen and (max-width: $single-breakpoint) {
    font-size: 32pt;
  }
}

.article-information {
  font-size: 24pt;
  font-weight: 200;
  margin-top: 0;

  @media screen and (max-width: $double-breakpoint) {
    font-size: 16pt;
  }

  @media screen and (max-width: $single-breakpoint) {
    font-size: 14pt;
  }
}
