$accent-colour: #c94c45;

$inline-list-spacing: 10px;

$title-font: 'Libre Caslon Display';

$body-font: 'Libre Baskerville';
$body-font-size: 16pt;
$body-padding: 50px;
$body-line-height: 1.5;

$nav-logo-height: 25px;
$nav-font-size: 10pt;
$nav-padding: $inline-list-spacing ($inline-list-spacing + 8px);

$main-width: 800px;
