$accent-colour: #c94c45;
$alt-accent-colour: #148189;

$border-radius: 5px;

$inline-list-spacing: 10px;

$title-font: 'Times New Roman', Times, 'Liberation Serif', 'DejaVu Serif', serif;

$body-font: 'Georgia Pro', Georgia, 'Gelasio', 'Bitstream Charter', 'ET Book',
  'EB Garamond', 'Droid Serif', serif;
$body-font-size: 16pt;
$body-padding: 50px;
$body-line-height: 1.5;

$nav-logo-height: 25px;
$nav-font-size: 10pt;
$nav-padding: $inline-list-spacing ($inline-list-spacing + 8px);

$main-width: 800px;

$section-list-spacing: 40px;

$link-colour: $alt-accent-colour;
$link-hover-colour: darken($alt-accent-colour, 20%);

$side-colour: #283946;

$post-card-width: 768px;
