@import 'variables';

article {
  main > *,
  header > * {
    margin-left: auto;
    margin-right: auto;
    max-width: $lt--col-left;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .article-info {
    text-align: center;
  }

  figure {
    margin-left: -$lt--base-padding;
    margin-right: -$lt--base-padding;
    width: 100vw;

    img {
      border-radius: 2px;
      box-shadow: rgba(0, 0, 0, 0.5) 0 0 8px;
      height: auto;
      vertical-align: top;
      width: inherit;
    }

    @media screen and (max-width: $lt--one-column) {
      margin-left: -$lt--base-padding / 2;
      margin-right: -$lt--base-padding / 2;
    }
  }
}

.article-header {
  padding-bottom: $lt--base-padding;
}
