@import 'variables';
@import 'fonts';

/* Typography */

body {
  font-family: $body-font;
  font-size: $body-font-size;
  line-height: $body-line-height;
  margin: 0;
  padding: $body-padding;

  @media screen and (max-width: 768px) {
    font-size: $body-font-size * 0.8;
    padding: ($body-padding + 20px) ($body-padding * 0.5) ($body-padding * 0.5)
      ($body-padding * 0.5);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font;
  line-height: 1;
  margin: 1em 0 0;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 210%;
}

h3 {
  font-size: 170%;
}

h4 {
  font-size: 150%;
}

h5 {
  font-size: 130%;
}

h6 {
  font-size: 120%;
}

p {
  hyphens: auto;
  margin: 1em 0;
}

a {
  color: $link-colour;

  &:focus {
    outline: 2px #ff8b00 dashed;
    outline-offset: -2px;
  }

  &:focus,
  &:hover {
    color: $link-hover-colour;
  }
}

/* Layout */

main {
  word-spacing: -2px;

  p,
  blockquote,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  code,
  pre,
  ul,
  ol,
  figure {
    max-width: $main-width;
  }
}

.details {
  font-size: 80%;
  margin: 0;
}

/* Inline lists */

.inline-list {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    display: inline-block;
    margin-left: $inline-list-spacing;
  }
}

/* Global navigation */

.global-navigation {
  align-items: center;
  background-color: $accent-colour;
  color: #fff;
  display: flex;
  font-size: $nav-font-size;
  left: 0;
  line-height: 1.5;
  padding: $nav-padding;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;

  @media screen and (max-width: 400px) {
    li:first-child,
    .wrapper-list > li {
      margin-left: 0;
    }

    .logo {
      display: none;
    }
  }

  @media screen and (max-width: 320px) {
    li {
      margin-left: 0;
    }
  }

  a {
    color: #fff;
  }

  .logo {
    height: $nav-logo-height;

    > * {
      fill: #fff;
      height: inherit;
    }
  }

  .wrapper-list {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* Global footer */

.global-footer {
  .copyright {
    display: inline-block;
    margin-right: 1em;
  }
}

/* Colour spans */

.side {
  color: $side-colour;
  font-style: italic;
}
