@import 'variables';

@font-face {
  font-display: swap;
  font-family: 'Suisse Intl';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/SuisseIntl-Book-WebS.woff2') format('woff2'),
    url('/fonts/SuisseIntl-Book-WebS.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Suisse Intl';
  font-style: italic;
  font-weight: normal;
  src: url('/fonts/SuisseIntl-BookItalic-WebS.woff2') format('woff2'),
    url('/fonts/SuisseIntl-BookItalic-WebS.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Suisse Intl';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/SuisseIntl-Bold-WebS.woff2') format('woff2'),
    url('/fonts/SuisseIntl-Bold-WebS.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Suisse Intl';
  font-style: italic;
  font-weight: bold;
  src: url('/fonts/SuisseIntl-BoldItalic-WebS.woff2') format('woff2'),
    url('/fonts/SuisseIntl-BoldItalic-WebS.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Literata';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/literata-v17-latin-regular.woff2') format('woff2'),
    url('/fonts/literata-v17-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Literata';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('/fonts/literata-v17-latin-700.woff2') format('woff2'),
    url('/fonts/literata-v17-latin-700.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Literata';
  font-style: italic;
  font-weight: 400;
  src: local(''), url('/fonts/literata-v17-latin-italic.woff2') format('woff2'),
    url('/fonts/literata-v17-latin-italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Literata';
  font-style: italic;
  font-weight: 700;
  src: local(''),
    url('/fonts/literata-v17-latin-700italic.woff2') format('woff2'),
    url('/fonts/literata-v17-latin-700italic.woff') format('woff');
}

body {
  background-color: $cl--background;
  color: $cl--body;
  font-family: $ty--serif;
  font-size: $ty--size;
  hyphens: auto;
  line-height: $ty--line-height;
  margin: 0;
  overflow-x: hidden;
  padding: $lt--base-padding;
  transition: color 0.3s cubic-bezier(0.65, 0, 0.35, 1);

  *::selection {
    background-color: $cl--accent;
    color: $cl--background;
  }

  @media screen and (max-width: $lt--one-column) {
    font-size: 0.8 * $ty--size;
    padding: $lt--base-padding / 2;
  }

  @media (prefers-color-scheme: dark) {
    background-color: $cl--body;
    color: $cl--background;
  }
}

a {
  color: $cl--accent;
  text-decoration: none;
  transition: color 0.3s cubic-bezier(0.65, 0, 0.35, 1),
    text-shadow 0.2s cubic-bezier(0.65, 0, 0.35, 1);

  &:hover,
  &:focus-within {
    outline: none;
    text-decoration: underline;
  }

  &:visited {
    color: $cl--visited;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ol,
table,
hr,
ul,
video,
pre {
  margin-bottom: $ty--block-margin;
  margin-top: $ty--block-margin;
}

h1,
h2,
h3,
h4,
h5,
h6,
.article-info {
  font-family: $ty--sans;
  line-height: 1;
}

h1,
.article-title {
  font-size: 280%;
  margin-top: $lt--base-padding;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 160%;
}

h4 {
  font-size: 140%;
}

h5 {
  font-size: 120%;
}

h6 {
  font-size: 100%;
}

.article-title {
  margin-bottom: 0;
}

/* Breadcrumb */

$bc--logo-size: 50px;
$bc--items-margin: 15px;

.breadcrumb {
  align-items: center;
  display: flex;
  font-family: $ty--sans;
  margin: 0 auto;
  max-width: $lt--max-width;

  ol,
  ul {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 $bc--items-margin / 2;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  span {
    transition: color 0.3s cubic-bezier(0.65, 0, 0.35, 1);
  }
}

.breadcrumb-logo {
  display: inline-block;
  height: $bc--logo-size;
  margin-right: ($bc--items-margin / 2) - 5px;
  width: $bc--logo-size;

  &:focus {
    outline: 4px solid $cl--accent;
    outline-offset: 4px;
  }

  img {
    height: auto;
    width: inherit;
  }
}

.breadcrumb-link {
  color: $cl--accent;
  margin-left: ($bc--items-margin / 2);

  &:visited {
    color: $cl--accent;
  }
}

/* Article info */

.article-info {
  font-family: $ty--sans;
  font-size: 85%;
  margin-bottom: $lt--base-padding;
  margin-top: 10px;

  @media screen and (max-width: $lt--two-columns) {
    margin-bottom: $lt--base-padding / 2;
  }
}

.article-info-tags {
  display: inline-block;
  list-style: none;
  margin: 0 0 0 $lt--base-padding / 2;
  padding: 0;

  a {
    font-style: italic;

    &::before {
      content: '#';
    }
  }
}
