@import 'colours';
@import 'layout';
@import 'typography';

@import 'components/articleinfo';
@import 'components/breadcrumb';

$article-header-margin: 30px;
$article-header-large-margin: 50px;
$article-top-margin: 30px;
$article-top-large-margin: 50px;

article {
  @media screen and (min-width: $two-columns) {
    > * {
      max-width: $col-left-width;
    }

    figure,
    header {
      max-width: 100%;
    }
  }

  header {
    margin-bottom: $article-header-margin;

    > h1 {
      margin-bottom: 0;
      margin-top: $article-top-margin;

      @media screen and (min-width: $two-columns) {
        margin-top: $article-top-large-margin;
      }
    }

    @media screen and (min-width: $two-columns) {
      margin-bottom: $article-header-large-margin;
    }
  }

  figure {
    display: inline-block;
    margin: 1em 0;
    margin-left: -$body-padding;
    margin-right: -$body-padding;
    width: 100vw;

    img {
      height: auto;
      vertical-align: top;
      width: inherit;
    }

    figcaption {
      color: $figcaption-colour;
      margin-left: $body-padding;
      margin-right: $body-padding;
      margin-top: 1em;

      &::before {
        content: '🡑 ';

        @media screen and (min-width: $two-columns) {
          left: -1em;
          position: absolute;
        }
      }

      @media screen and (min-width: $two-columns) {
        margin-top: 2em;
        max-width: $col-right-width;
        position: absolute;
        right: 0;
        top: 100%;
      }
    }

    @media screen and (min-width: $two-columns) {
      margin-left: 0;
      margin-right: 0;
      position: relative;
      width: 100%;
    }
  }
}
