@import 'variables';

.header {
  padding: 0 $base-padding;

  @media screen and (max-width: $double-breakpoint) {
    padding: 0;
  }
}

.article-title {
  font-size: 7vw;
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 0.1em -3px;

  @media screen and (min-width: 2000px) {
    font-size: 120pt;
  }

  @media screen and (max-width: $double-breakpoint) {
    font-size: 42pt;
  }

  @media screen and (max-width: $single-breakpoint) {
    font-size: 32pt;
  }
}

.article-information {
  font-size: 24pt;
  margin-top: 0;

  @media screen and (max-width: $double-breakpoint) {
    font-size: 18pt;
  }

  @media screen and (max-width: $single-breakpoint) {
    font-size: 16pt;
  }
}

.article {
  flex-grow: 1;
  max-width: $body-column-width;
  padding: 0 $base-padding;

  @media screen and (max-width: $double-breakpoint) {
    flex-basis: 100%;
    padding: 0;
  }
}

figure {
  position: relative;
  width: auto;

  img {
    height: auto;
    width: 100%;
  }

  figcaption {
    font-style: italic;
    line-height: 1.4;
    opacity: 0.8;

    @media screen and (min-width: $single-breakpoint) {
      bottom: 0;
      display: inline-block;
      max-width: $side-column-width;
      position: absolute;
      right: -($side-column-width + $block-padding);
    }
  }
}
